.resource_info {
  align-items: baseline;
  display: grid;
  gap: 3 * $default-padding;
  grid-template-columns: minmax(var(--resource_info_dt-width, 120px), auto) 1fr;

  dt {
    font-weight: 700;
    justify-self: var(--resource_info_dt-justifiy-self, end);
  }

  dd {
    margin: 0;
    @include truncate(100%);
  }
}
